.App {
  text-align: center;
  color:#938f8f
}
.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px
}
.quantity button{
  margin:10px;
  color:#565656;
  background-color:#fab569;
  border: none;
  padding: 6px 11px;
  cursor: pointer;
}